
// 
    .footer-container{
    display: flex;
    align-items: baseline;
    }

.footer-list{

    &__item:not(:last-child){
    margin-bottom: 9px;
    }

  
    &__maps{
    font-style: normal;
    @include font(400,14px,1.7);
    letter-spacing: 0.03em;
    color:var(--background-ligt-color);
    text-decoration: none;
    transition:color 250ms
    cubic-bezier(0.4, 0, 0.2, 1)
    }

        &__inf{

        font-size: 14px;
        line-height:1.7;
        
        transition:color 250ms
        cubic-bezier(0.4, 0, 0.2, 1);
        
        text-decoration: none;
        color:var(--last-light-color);
        }

        &__link:hover,
        &__link:focus{
        color:var(--secondary-text-color);
        }

    }

        .footer-div{
        margin-left:76px ;
        }

        .footer-invite{
        @include font(400,14px,1.7);
        text-transform: uppercase;
        color: var(--white-text-color);
        margin-bottom: 20px;
        }

.footer-second{

            display: flex;
            gap: 10px;
        

            &__li{
                width: 44pxx; 
            }

            &__icon{
            width: 44px;
            height: 44px;
            border-radius:50%;  
            display: flex;
            align-items: center;
            justify-content: center;
            fill: var(--white-text-color);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            background: rgba(255, 255, 255, 0.1);
            }

            &__icon:hover,
            &__icon:focus{
           background-color:var(--secondary-text-color) ;
           }

        }
           

                .footer-invite{
                    @include font(400,14px,1.7);
                    text-transform: uppercase;
                    color: var(--white-text-color);
                    margin-bottom: 20px;
                    }

                    
 .con-teleg{
    margin-left: auto;
    
             
        &--invite{
        @include font(400,14px,1.7);
        text-transform: uppercase;
        color: var(--white-text-color);
        margin-bottom: 20px;
    }

    &__form{
        display: flex;
      }


& input{
    background-color: var(--background-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    padding-left: 16px;
    color: var(--white-text-color);
    width: 360px;
    margin-right: 12px;
    }

    &__svg{
        margin-left: 10px;
        }

}
   

        

         

        