




  .header-container{
    display: flex;
    align-items: center;
    }


    .header-list{

    display: flex;
    

    &__item:not(:first-child){
    margin-left:50px;
    }

     

    &__link {
    color: var(--first-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration:none;
    padding: 32px 0;
    display: block;
    transition:color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,  
    &__link:focus{
    color: var(--secondary-text-color);
  }

  }

    .header-contacts-wrap{
    margin-left:auto;
    }
    
.header-message{

    display: flex;
    align-items:center ;
    

    &__li:not(:first-child){
    margin-left: 30px;
    }

    &__svg{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--third-text-color);
    text-decoration:none;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    transition: color 250ms, background-color 250ms
    }
        
    &__svg:hover,
    &__svg:focus{
    color: var(--secondary-text-color);
    }
        
    &__svg:hover,
    &__svg:focus{
    fill: var(--secondary-text-color);
    }

    &__svg{
         fill: var(--third-text-color);
    }

    &__in-svg{
      margin-right: 10px;
      }
      
    &__in-svg:focus{
      fill: #188CE8;
      }

    }

.current{

        background-color: var(--white-text-color);
      

      &__one{
        color: var(--secondary-text-color);
        position: relative;
      }

      &__one::after{
        position: absolute;
        content: '';
        display: block;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color:var(--secondary-text-color) ;
        border-radius: 2px;
        }
      
      &__two{
        color: var(--secondary-text-color);
        position: relative;
        }
      
        &__two::after{
          position: absolute;
          content: '';
          display: block;
          bottom: -1px;
          width: 100%;
          height: 4px;
          background-color:var(--secondary-text-color) ;
          border-radius: 2px;
          }

        }