.photo {

            &-hero{
            background:var(--background-ligt-color);
            padding: 60px 0;
            width: 100%;
            

            @media screen and (min-width: 1200px){
              padding: 94px 0;
            }
            
            }

            &-hero-comand{
              width: 450px;
              padding-bottom: 30px;
              box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
              border-radius: 0px 8px 4px 4px;
              background: var(--white-text-color);
            

              
              @media screen and (min-width: 768px){
                padding-bottom: 30px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 8px 4px 4px;
                background: var(--white-text-color);
                width: 354px;
              }

              @media screen and (min-width: 1200px){
                width:270px;
                background: var(--white-text-color);
                padding-bottom: 30px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 8px 4px 4px;
                column-gap: 30px;
                row-gap: 30px;
              }
           }

           
           &-hero-comand:not(:last-child) {
            @media screen and (max-width: 768px){
            margin-bottom: 30px;}
          }

          

            &-name{
            padding-top:30px ;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            color:var(--first-text-color);
            margin-bottom: 10px;
            text-align: center;
            }

            &-description{
            text-align: center;
            font-size: 16px;
            line-height: 1.2;
            color:var(--third-text-color);
            margin-bottom: 16px;
            }

            &-description-icons{
            display: flex;
            gap: 10px;
            justify-content: center;
            }

            &-icons{
            width: 44px;
            height: 44px;
            border-radius:50%;  
            display: flex;
            align-items: center;
            justify-content: center;
            fill: var(--clients-icon-color);
            transition:fill 250ms
            cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            &-icons:hover,
            &-icons:focus{
            background-color:var(--secondary-text-color) ;
            fill: var(--white-text-color);
            }


              }
              .header-hero{

                font-weight: 700;
                font-size: 28px;
                line-height: 1.2;
                text-align: center;
                letter-spacing: 0.03em;
                color: var(--first-text-color);
                margin-bottom: 30px;
                

                @media screen and (min-width: 1200px){
                font-weight: 700;
                font-size: 36px;
                line-height:1.2;
                color:var(--first-text-color);
                text-align: center;
                margin-bottom: 50px;
              }
                }
