.button{

  
    
    &-header{
      cursor: pointer;
    font-weight: 700;
    padding: 10px 32px;
    font-size: 16px;
    line-height: 1.9;
    color:var(--white-text-color);
    letter-spacing: 0.06em;
    background-color:var(--secondary-text-color);
    font-family: inherit;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 

    &-header:hover,
    &-header:focus{
      background-color: var(--last-color);
    }
  
    &-special{
      display: flex;
      align-items: center;
      }

      &-close{
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--white-text-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: var(--only-black-color);
        cursor: pointer;
        right: 8px;
        top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &-close:focus .svg-hrestik, 
        &-close:hover .svg-hrestik{
        fill: var(--secondary-text-color);
        }
        
        &-label{
          margin-top: 30px;
          background: var(--secondary-text-color);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.9;
          letter-spacing: 0.06em;
          color: var(--white-text-color);
          padding: 10px 52px;
          cursor: pointer;
          transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          &-label:hover,
          &-label:focus{
          background-color: var(--last-color)
          }

          &-other{
            font-weight: 500;
            font-family: inherit;
            font-size: 16px;
            line-height:1.6;
            letter-spacing: 0.03em;
            color:var(--first-text-color);
            background-color:var(--background-ligt-color);
            border:none;
            border-radius: 4px;
            padding: 6px 22px;
            cursor: pointer;
            transition:color 250ms
            cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          &-other:hover,
          &-other:focus{
            color:var(--white-text-color);
            background-color: var(--secondary-text-color);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          }

          
          &-close:focus .form-hrestik,
          &-close:hover .form-hrestik{
         fill: var(--secondary-text-color);
  }

  }


  button{
    border: none;
  }
  

  

  

    

  







