:root {
    --first-text-color: #212121;
    --secondary-text-color: #2196F3;
    --third-text-color: #757575;
    --white-text-color:#ffffff;
    --background-text-color: #2F303A;
    --background-ligt-color: #F5F4FA;
    --only-black-color:#000000;
    --last-light-color:#ffffff99;
    --background-general-color:#F5F5F5;
    --main-color: #EEEEEE;
    --border-color:#ECECEC;
    --last-color: #188CE8;
    --bck-icon-color:#F5F4FA;
    --clients-icon-color:#AFB1B8;
    --social-icons-color:#AFB1B8;
  }